.nav {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablets {
        height: 20px;
    }
}

.nav-container {
    display: flex;
}

.nav-link {
    margin: 10px;
    padding: 0 35px;
    color: #6DBFFE;
    transition: 0.5s;
    text-shadow: 0 0 7px rgba(0, 0, 0, 1);
    &.active {
        color: #FFE1AB;
        @include roboto(bold);
        &:hover {
            color: #6DBFFE;
            text-shadow:
                0 0 5px #586DCD,
                0 0 10px #586DCD,
                0 0 15px #586DCD,
                0 0 20px #586DCD,
                0 0 40px #6DBFFE,
                0 0 80px #6DBFFE,
                0 0 90px #6DBFFE,
                0 0 100px #6DBFFE,
                0 0 150px #6DBFFE;
        }
    }
    &:hover {
        color: #FFE1AB;
        text-shadow:
            0 0 5px #D56A7D,
            0 0 10px #D56A7D,
            0 0 15px #D56A7D,
            0 0 20px #D56A7D,
            0 0 40px #FFE1AB,
            0 0 80px #FFE1AB,
            0 0 90px #FFE1AB,
            0 0 100px #FFE1AB,
            0 0 150px #FFE1AB;
            transition: 0.5s;
    }
    @include large_desktop {
        padding: 0 16px;
    }
    @include tablets {
        padding: 0 10px;
        font-size: 10px;
    }
    @include phones {
        padding: 0;
    }
}
