.home_welcome {
    height: calc(100vh - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero {
    margin-bottom: 300px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include large_desktop {
        margin-bottom: 150px;
    }
    @include landscape_phones {
        margin-bottom: 50px;
    }
}

.hero_title {
    margin-bottom: 16px;
    @include pacifico(regular);
    font-size: 50px;
    color: #323B8B;
    @include large_desktop {
        font-size: 40px;
        margin-bottom: 15px;
    }
    @include desktop {
        font-size: 35px;
        margin-bottom: 15px;
    }
    @include landscape_phones {
        font-size: 30px;
    }
}

.hero_description {
    font-size: 18px;
    @include roboto(bold);
    text-transform: uppercase;
    @include large_desktop {
        font-size: 16px;
    }
    @include desktop {
        font-size: 14px;
    }
    @include landscape_phones {
        font-size: 12px;
    }
    @include phones {
        font-size: 10px;
    }
}