.bio_wrapper {
    padding: 0 50px 0 50px;
    @include large_desktop{
        padding: 0;
    }
    .bio_container {
        width: 70%;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        background: #39a1f1;
        border-radius: 30px;
        box-shadow: 15px 15px 0 0 #313480;
        transition: 0.5s;
        &:hover {
            transform: translate(0, -10px);
            transition: 0.5s;
        }
        &_header {
            margin-top: 16px;
            display: flex;
            justify-content: flex-start;
            & .bio_header {
                padding-bottom: 8px;
                display: flex;
                justify-content: center;
                width: 100%;
                border-bottom: 4px solid #313480;
                text-align: left;
                color: #ffd382;
                @include lobster(regular);
                @include laptop{
                    width: 100%;
                }
                & h1 {
                    @include phones{
                        font-size: 30px;
                    }
                }
            }
        }
        & .bio_info {
            padding: 16px 16px 0 16px;
            width: auto;
            max-width: 100%;
            margin: 16px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: justify;
            & .bio_text {
                padding-left: 32px;
                line-height: 24px;
                & .contacts {
                    height: 25px;
                    @include landscape_phones {
                        height: 15px;
                    }
                }
                @include roboto(medium);
                @include tablets{
                    padding-left: 0;
                }
                @include phones{
                    padding-left: 0;
                }
            }
            & .bio_photo {
                width: 160px;
                height: auto;
            }
            @include tablets{
                width: 100%;
                flex-direction: column;
                justify-content: center;
                text-align: justify;
            }
        }
        &:nth-child(even) {
            margin-left: auto;
            & .bio_container_header {
                display: flex;
                justify-content: flex-end;
                & .bio_header {
                    display: flex;
                    justify-content: center;
                }
            }
            & .bio_info {
                justify-content: flex-end;
                & .bio_text {
                    padding-right: 32px;
                    padding-left: 0;
                }
                @include tablets {
                    width: 100%;
                    flex-direction: column-reverse;
                    justify-content: center;
                    text-align: justify;
                }
                @include phones {
                    width: 100%;
                    flex-direction: column-reverse;
                    justify-content: center;
                    text-align: justify;
                }
            }
            @include tablets {
                margin-left: 0;
            }
        }
        @include laptop{
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}