.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myVideo {
    @include tablets {
        height: 100vh;
        width: auto;
    }
    @include phones {
        height: 100vh;
        width: auto;
    }
    height: auto;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -10;
}

.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include large_desktop {
        height: 68vh;
    }
    @include desktop {
        height: 45vh;
    }
    @include laptop {
        height: 45vh;
    }
    @include tablets {
        height: 65vh;
    }
    @include landscape_phones {
        height: 55vh;
    }
    @include phones {
        height: 60vh;
    }
}

.hero_title {
    margin-bottom: 1rem;
    @include pacifico(regular);
    font-size: 50px;
    color: #323B8B;
    @include large_desktop {
        font-size: 2.2rem;
        margin-bottom: 0.5rem;
    }
    @include desktop {
        font-size: 2rem;
        margin-bottom: 0;
    }
    @include laptop {
        font-size: 1.5rem;
    }
    @include tablets {
        font-size: 3rem;
    }
    @include landscape_phones {
        font-size: 1.2rem;
    }
    @include phones {
        font-size: 2rem;
    }
}

.hero_description {
    font-size: 18px;
    @include roboto(bold);
    text-transform: uppercase;
    @include large_desktop {
        font-size: 0.8rem;
    }
    @include desktop {
        font-size: 0.7rem;
    }
    @include laptop {
        font-size: 0.6rem;
    }
    @include tablets {
        font-size: 1rem;
    }
    @include landscape_phones {
        font-size: 0.5rem;
    }
    @include phones {
        font-size: 0.6rem;
    }
}