.projects_wrapper {
    padding: 16px 50px;
    @include large_desktop{
        padding: 16px 32px;
    }
    @include laptop {
        padding-top: 40px;
    }
    & .projects_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 30px;
        @include tablets {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 25px;
        }
        & .projects_item {
            padding: 7px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background: #358fd4;
            border-radius: 15px;
            box-shadow: 10px 10px 0 0 #313480;
            transition: 0.5s;
            &:hover {
                transform: translate(0, -10px);
                transition: 0.5s;
            }
            & .projects_img {
                padding-bottom: 5px;
                width: 100%;
                border-radius: 15px;
            }
            & .projects_header {
                margin: 0;
                color: #FFE1AB;
            }
        }
    }
}